<div class="responsible nested-fields">
  <div class='row'>        
    <%= f.input :name, wrapper_html: { class: 'col-md-12' } %>  
    <%= f.input :cpf,  html5: true, wrapper_html: { class: 'col-md-3' } %>       
    <%= f.input :birth_day,  html5: true, wrapper_html: { class: 'col-md-3' } %>  
    <%= f.input :sex,  html5: true,  wrapper_html: { class: 'col-md-3' } %>      
    <%= f.input :phone_number, wrapper_html: { class: 'col-md-3' }, input_html: { class: 'phone_mask' }  %>    

  </div>
</div>      